data/Areas_Envios.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Areas_Envios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Areas_Envios">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Area_ID" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="NOmbreArea" type="xs:string" />
              <xs:element minOccurs="0" name="CostoEnvio" type="xs:decimal" />
              <xs:element minOccurs="0" name="ModfiedDate" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>