data/Categorias.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Categorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Categorias">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Categoria_ID" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Nombre" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>