data/Clientes.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Clientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Clientes">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Nombre" type="xs:string" />
              <xs:element minOccurs="0" name="Apellido" type="xs:string" />
              <xs:element minOccurs="0" name="Email" type="xs:string" />
              <xs:element minOccurs="0" name="Telefono" type="xs:string" />
              <xs:element minOccurs="0" name="Direccion" type="xs:string" />
              <xs:element minOccurs="0" name="Ciudad" type="xs:string" />
              <xs:element minOccurs="0" name="Pais" type="xs:string" />
              <xs:element minOccurs="0" name="Estado" type="xs:string" />
              <xs:element minOccurs="0" name="Codigo_Postal" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Usuarioid" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="ModifiedDate" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>