data/Descuento_Cupones.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Descuento_Cupones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Descuento_Cupones">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Descuento_ID" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Codigo" type="xs:unsignedInt" />
              <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
              <xs:element minOccurs="0" name="Fecha_Inicio" type="xs:string" />
              <xs:element minOccurs="0" name="Fecha_Fin" type="xs:string" />
              <xs:element minOccurs="0" name="Promocion_ID" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>