data/Detalle_Pedidos.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Detalle_Pedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Detalle_Pedidos">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Cantidad" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="Precio_Unitario" type="xs:decimal" />
              <xs:element minOccurs="0" name="PedidoId" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="ProductoId" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>