data/Envios.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Envios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Envios">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Envio_ID" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Pedido_ID" type="xs:unsignedShort" />
              <xs:element minOccurs="0" name="Empresa_Envio" type="xs:string" />
              <xs:element minOccurs="0" name="Metodo_Envio" type="xs:string" />
              <xs:element minOccurs="0" name="Fecha_Envio" type="xs:date" />
              <xs:element minOccurs="0" name="Fecha_Entrega" type="xs:date" />
              <xs:element minOccurs="0" name="Direccion_Envio" type="xs:string" />
              <xs:element minOccurs="0" name="Ciudad_Envio" type="xs:string" />
              <xs:element minOccurs="0" name="Estado_Envio" type="xs:string" />
              <xs:element minOccurs="0" name="Pais_Envio" type="xs:string" />
              <xs:element minOccurs="0" name="Area_Envio_ID" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="ModfiedDate" type="xs:date" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>