data/Marcas.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Marcas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Marcas">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="NombreMarca" type="xs:string" />
              <xs:element minOccurs="0" name="Descripcion" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>