data/Metodos_Pago.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Metodos_Pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Metodos_Pago">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Metodo_ID" type="xs:unsignedByte" />
              <xs:element minOccurs="0" name="NombreMetodo" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>